{% extends 'base.html' %}
{% block content %}
    <div class="box box-content">
        <!-- About -->
        <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 first-title title__separate">关于我</h1>
            <p>I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
            <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies.</p>
        </div>

        <!-- What -->
        <div class="mt-1">
            <h2 class="title title--h3">我在做什么</h2>
            <div class="row">
                <!-- Case Item -->
                <div class="col-12 col-lg-6">
                    <div class="case-item">
                        <img class="case-item__icon" src="/static/icons/icon-design.svg" alt="" />
                        <div>
                            <h3 class="title title--h4">Web Design</h3>
                            <p class="case-item__caption">The most modern and high-quality design made at a professional level.</p>
                        </div>
                    </div>
                </div>

                <!-- Case Item -->
                <div class="col-12 col-lg-6">
                    <div class="case-item">
                        <img class="case-item__icon" src="/static/icons/icon-dev.svg" alt="" />
                        <div>
                            <h3 class="title title--h4">Web Development</h3>
                            <p class="case-item__caption">High-quality development of sites at the professional level.</p>
                        </div>
                    </div>
                </div>

                <!-- Case Item -->
                <div class="col-12 col-lg-6">
                    <div class="case-item">
                        <img class="case-item__icon" src="/static/icons/icon-app.svg" alt="" />
                        <div>
                            <h3 class="title title--h4">Mobile Apps</h3>
                            <p class="case-item__caption">Professional development of applications for iOS and Android.</p>
                        </div>
                   </div>
                </div>

                <!-- Case Item -->
                <div class="col-12 col-lg-6">
                    <div class="case-item">
                        <img class="case-item__icon" src="/static/icons/icon-photo.svg" alt="" />
                        <div>
                            <h3 class="title title--h4">Photography</h3>
                            <p class="case-item__caption">I make high-quality photos of any category at a professional level.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Experience -->
        <div class="row">
            <div class="col-12">
                <h2 class="title title--h3"><img class="title-icon" src="/static/icons/icon-experience.svg" alt="" /> 工作经历</h2>
                <div class="timeline">
                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Creative Director</h5>
                        <span class="timeline__period">2015 — Present</span>
                        <p class="timeline__description">Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas molestias exceptur.</p>
                    </article>

                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Art Director</h5>
                        <span class="timeline__period">2013 — 2015</span>
                        <p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
                    </article>

                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Web Designer</h5>
                        <span class="timeline__period">2010 — 2013</span>
                        <p class="timeline__description">Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et quas molestias exceptur.</p>
                    </article>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="row">
            <div class="col-12">
                <h2 class="title title--h3">技能</h2>
                <div class="box box__border">
                    <!-- Progress -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-text"><span>Python</span><span>95%</span></div>
                        </div>
                        <div class="progress-text"><span>Python</span></div>
                    </div>

                    <!-- Progress -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-text"><span>Django+Rest Framework</span><span>95%</span></div>
                        </div>
                        <div class="progress-text"><span>Django+rest framework</span></div>
                    </div>

                    <!-- Progress -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-text"><span>Html+Css+Javascript</span><span>80%</span></div>
                        </div>
                        <div class="progress-text"><span>Vue</span></div>
                    </div>

                    <!-- Progress -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-text"><span>Vue</span><span>80%</span></div>
                        </div>
                        <div class="progress-text"><span>Vue</span></div>
                    </div>
                    <!-- Progress -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-text"><span>Linux + Shell</span><span>90%</span></div>
                        </div>
                        <div class="progress-text"><span>Linux + Bash</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
