{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/antd/antd.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/antd/fix-antd.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/article_block.css"/>
{% endblock %}
{% block content %}
    <label style="display: none">
        <input value="{{ article_info.id }}" id="article_id"/>
    </label>
    <div class="box box-content">
        <!-- Post -->
        <div class="pb-3">
            <header class="header-post">
                <h1 class="title title--h1">糟糕，需要暗号 🤐</h1>
            </header>
            <div class="caption-post">
                <section>
                    <div class="container">
                        <p>这是一篇受密码保护的文章，您可以选择输入密码，或者选择登录后查看</p>
                        <fieldset class="form-group pw-fancy">
                            <label>
                                <div class="pw-fancy--asterisks"></div>
                                <input type="password" id="article_password" autofocus="autofocus">
                            </label>
                        </fieldset>
                        <button type="button" class="check-password">验证</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="/static/vue/vue.js"></script>
    <script src="/static/antd/moment.min.js"></script>
    <script src="/static/antd/antd.min.js"></script>
    <script src="/static/js/article_block.js"></script>
{% endblock %}
