# 博客配置 (BLOG SETTINGS)
# 请注意，配置项格式应为KEY=VALUE或KEY='VALUE'，等号前后不允许存在空格，KEY = VALUE这样是错误的！
# Please note that the format of the configuration item should be KEY = VALUE or KEY ='VALUE'
# there are consecutive spaces before and after the equal sign, KEY = VALUE is wrong!


# Django框架设置(Django Settings)
# db
#   - mysql
# DATABASE_URL="mysql://user:@127.0.0.1:3306/db_name"
#   - sqlite3
DATABASE_URL="sqlite:///db.sqlite3"

# cache
#   - redis
# REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password="xxxxxxxx"

DEBUG=True

# 用户个人信息设置(User Settings)
email='liyao2598330@gmail.com'
location='中国'
birthday='1995-6-5'
phone='18612345678'

# 用户社交信息设置(Social Settings)
github='https://github.com/liyao2598330'
twitter='https://twitter.com/liyao72023754'

# 博客设置(Blog Settings)
#background_image='/static/images/banner/3.jpg'
copyright='Echidna ©2020 Created by Li yao'
